name: Waka Readme

on:
  schedule:
    # Runs Every Hour
    - cron: '0 0/8 * * *'

jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SHOW_LOC_CHART: "False"
          SHOW_LANGUAGE_PER_REPO: "False"
          SHOW_PROFILE_VIEWS: "False"
          SHOW_SHORT_INFO: "TRUE"
          SHOW_LINES_OF_CODE: "True"
          
